@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('../../assets/Starjhol.ttf') format('truetype');
}

.Nav{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    list-Style: none; 
    display: flex; 
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    

}

.NavList {
    display: flex; 
    gap: 10px;
    font: 25px 'Star Jedi Hollow';
    color: #FFE81F;
    flex-wrap: nowrap;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}