@font-face {
    font-family: 'Star Jedi';
    src: url('../../assets/Starjedi.ttf') format('truetype');
}

.NewPost-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 10px;
    border-color: #FFE81F;
}

.title{
    font-family: 'Star Jedi';
    color: #FFE81F;
}

.error {
    color: red;
    font-family: monospace;
}