.Home-container {
    max-width: 800px; /* Adjust max-width as needed */
    margin: 0 auto; /* Center content horizontally */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
